h1 {
    color: rgb(0, 0, 255);
    display:block;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    width: 500px;
}

h2 {
    color: rgb(0, 128, 0);
    display:block;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    width: 500px;
}

b {
    font-weight: bold;
    
}

p {
    width: 500px;
    text-align: justify;
    font-size: 16px;
    line-height: 25px;
    font-family: Arial;
    text-indent: 40px;
}

i {
    color: green;
    font-style: italic;
}

ul {
    width: 400px;
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}